<%= form_with(model: quote) do |form| %>
  <% if quote.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
        <% quote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form group">
    <p><%= form.text_field :author, class:"form-control", placeholder: "Please type the author's name here" %></p>
  </div>

  <div class="field form group">
    <p><%= form.text_area :text, class:"form-control", placeholder: "Please type the text of your quote here" %></p>
  </div>

  <div class="field form group">
    <p><%= form.text_field :genre, class:"form-control", placeholder: "Please type the genre that best describes your quote here" %></p>
  </div>


  <div class="field form group">
    <p><%= form.number_field :user_id, id: :quote_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-secondary"%>
  </div>
<% end %>
