<br>

<h3>Edit <%= resource_name.to_s.humanize %></h3>
<br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email" %>
  </div>
  <br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Enter updated password | leave blank to keep" %>
  </div>

  <div class="field">
    <br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm updated password" %>
  </div>

  <div class="field">
    <br>
    <%= f.password_field :current_password, autocomplte: "current-password", class: "form-control", placeholder: "Enter current password to confirm" %>
  </div>
    <br>
  <div class="d-grid gap-1 d-md-flex justify-content-left actions">
    <%= f.submit "Update", class: "btn btn-sm btn-secondary" %>
    <%= link_to "Back", :back, class: "link-btn btn btn-sm btn-secondary" %>
  </div>
<% end %>
  <br><br>




      
    

<p>
  <button class="btn btn-sm btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDeleteAccount" aria-expanded="false" aria-controls="#collapseDeleteAccount">
    Want to cancel?
  </button>
</p>
<div class="collapse" id="collapseDeleteAccount">
  <div class="card card-body">
    <figure class="text-center">
        <blockquote class="blockquote">
            Act as if what you do makes a difference. It does.
        </blockquote>
        <figcaption class="blockquote-footer">
            <cite><i>Jean Jacques Rousseau</i></cite>
        </figcaption>
        <%= button_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
        
    </figure>  
  </div>
</div>
