<br>
<figure class="text-end">
  <blockquote class="blockquote">
    <p>How wonderful it is that nobody need wait a single moment before starting to improve the world.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <cite><i>Anne Frank</i></cite>
  </figcaption>
</figure>  

<div class="container">  
  <h3>Sign in:</h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Please enter your email" %>
      </div>

      <div class="field form-group">
        <br>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Please enter your current password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field form-group">
          <%= f.check_box :remember_me %>
          <small><%= f.label :remember_me %></small>
        </div>
      <% end %>
      
      <div class="d-grid gap-1 d-md-flex justify-content-left actions">
        <%= f.submit "Sign in", class:"btn btn-sm btn-secondary" %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>


</div>